<div></div>
<script>
  import { checkAdmin } from "@utils/common";
import { HashRouter, Cookie } from "mee-components";

  const sideMenu = document.getElementById("side-menu");
  const initIndexPage = () => {
    if (checkAdmin()) {
      sideMenu?.classList.remove("hidden");
    }
  };
  HashRouter.initPageListeners("index", initIndexPage, "Welcome to Mee");
</script>
