---
import { Loading, Table } from "mee-components";
const tableColumns = [
  { name: "name", title: "Name" },
  { name: "email", title: "Email" },
  { name: "phone", title: "Phone" },
  { name: "actions", title: "Actions" },
];

const actions = [
  {
    actionType: "edit",
    text: "Edit",
    icon: "pencil",
    className: "text-brand-700 text-2xl",
  },
];
---

<main class="flex h-full min-h-screen flex-1">
  <article
    class="flex h-full w-full flex-col items-start justify-start gap-6 p-6"
  >
    <Loading />
    <section class="hidden w-full flex-col" id="providers-data">
      <Table
        className="border-none"
        columns={tableColumns}
        actions={actions}
        id="users-table"
      />
    </section>
  </article>
</main>

<script>
  import { checkAdmin } from "@utils/common";
  import { HashRouter, TableHelper } from "mee-components";

  const initProvider = async () => {
    if (checkAdmin()) {
      const sideMenu = document.getElementById("side-menu");
      sideMenu?.classList.remove("hidden");
      const response = await fetch(
        "https://randomuser.me/api?seed=test22&results=10"
      );
      const data = await response.json();
      const randomUsers = data.results;

      const providersData = document.getElementById("providers-data");
      const usersTable = document.getElementById(
        "users-table"
      ) as HTMLTableElement;

      const loading = document.getElementById("loading");

      if (randomUsers) {
        const formattedUsers = randomUsers.map(
          (
            randomUser: {
              email: string;
              phone: string;
              name: { first: string; last: string };
            },
            i: number
          ) => {
            return {
              name: `${randomUser.name.first} ${randomUser.name.last}`,
              email: randomUser.email,
              phone: randomUser.phone,
            };
          }
        );
        TableHelper.initTable(usersTable, formattedUsers, [
          {
            actionType: "edit",
            action: (_, index) => {
              window.location.hash = "providers/" + index;
            },
          },
        ]);

        providersData?.classList.remove("hidden");
        providersData?.classList.add("flex");
        loading?.classList.add("hidden");
      }
    }
  };
  HashRouter.initPageListeners("providers", initProvider, "Providers");
</script>
