---
import { Loading, Table } from "mee-components";
const tableColumns = [
  { name: "name", title: "Name" },
  { name: "email", title: "Email" },
  { name: "phone", title: "Phone" },
  { name: "actions", title: "Actions" },
];

const actions = [
  {
    actionType: "edit",
    text: "Edit",
    icon: "pencil",
    className: "text-brand-700 text-2xl",
  },
];
---

<main class="flex h-full min-h-screen flex-1">
  <article
    class="flex h-full w-full flex-col items-start justify-start gap-6 p-6"
  >
    <Loading />
    <section class="hidden w-full flex-col" id="providers-data">
      <Table
        className="border-none"
        columns={tableColumns}
        actions={actions}
        id="users-table"
      />
    </section>
  </article>
</main>

<script>
  import { checkAdmin } from "@utils/common";
  import { HashRouter, TableHelper } from "mee-components";
  import type { User } from "@utils/types";
  import {
    getProvidersData,
    subscribeProvidersData,
  } from "@store/ProvidersStore";
  import { setActiveTab } from "@store/ProviderActiveTabStore";

  const setProviders = (providers?: User[]) => {
    const providersData = document.getElementById("providers-data");
    const usersTable = document.getElementById(
      "users-table"
    ) as HTMLTableElement;

    const loading = document.getElementById("loading");
    if (providers) {
      const formattedProviders = providers.map((provider) => {
        return {
          name: `${provider.name.first} ${provider.name.last}`,
          email: provider.email,
          phone: provider.phone,
        };
      });
      TableHelper.initTable(usersTable, formattedProviders, [
        {
          actionType: "edit",
          action: (_, index) => {
            window.location.hash = "providers/" + index;
          },
        },
      ]);

      providersData?.classList.remove("hidden");
      providersData?.classList.add("flex");
      loading?.classList.add("hidden");
    }
  };

  const initProvider = async () => {
    if (checkAdmin()) {
      const sideMenu = document.getElementById("side-menu");
      sideMenu?.classList.remove("hidden");
      setProviders(getProvidersData());
      subscribeProvidersData(setProviders);
      setActiveTab("tabs-apps");
    }
  };
  HashRouter.initPageListeners("providers", initProvider, "Providers");
</script>
