---
import { Loading, Table } from "mee-components";

const tableColumns = [
  { name: "email", title: "Email" },
  { name: "phone", title: "Phone" },
  { name: "actions", title: "Actions" },
];

const actions = [
  {
    actionType: "edit",
    text: "Edit",
    icon: "pencil",
    className: "text-brand-700 text-2xl",
  },
];
---

<main class="flex h-full min-h-screen flex-1">
  <article
    class="flex h-full w-full flex-col items-start justify-start gap-6 p-6"
  >
    <Loading />
    <section class="hidden w-full flex-col" id="users-data">
      <Table
        className="border-none"
        columns={tableColumns}
        actions={actions}
        id="users-table"
      />
    </section>
  </article>
</main>

<script>
  import { getUsersData, subscribeUsersData } from "@store/UsersStore";
  import { checkAdmin } from "@utils/common";
  import type { User } from "@utils/types";
  import { HashRouter, TableHelper } from "mee-components";

  const setUsers = (users?: User[]) => {
    const usersTable = document.getElementById(
      "users-table"
    ) as HTMLTableElement;

    const usersData = document.getElementById("users-data");
    const loading = document.getElementById("loading");
    if (users) {
      const formattedUsers = users.map((user) => {
        return {
          email: user.email,
          phone: user.phone,
        };
      });
      TableHelper.initTable(usersTable, formattedUsers, [
        {
          actionType: "edit",
          action: (_, index) => {
            window.location.hash = "users/" + index;
          },
        },
      ]);

      usersData?.classList.remove("hidden");
      usersData?.classList.add("flex");
      loading?.classList.add("hidden");
    }
  };
  const initUsers = async () => {
    if (checkAdmin()) {
      const sideMenu = document.getElementById("side-menu");
      sideMenu?.classList.remove("hidden");

      setUsers(getUsersData());
      subscribeUsersData(setUsers);
    }
  };
  HashRouter.initPageListeners("users", initUsers, "Users");
</script>
